@font-face {
    font-family: "GlacialIndifference-Bold";
    src: url("./GlacialIndifference-Bold.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.tavi {
    display: flex;
    /* margin-top: 10px; */
    font-size: 40px;
    justify-content: space-between;
    background-color: #DDDDDD;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

#mcire {
    font-size: 13px;
    color: #B3B3B3;
    opacity: 1;
}

#noli {
    font-size: 150px;
    color: #1C1C1C;
    opacity: 1;
}

#zemodan {
    font-size: 45px;
    margin-top: -150px;
    background: none;
    color: #373737;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 100px;
}

.pirveli {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: -100px; */
    background-color: #DDDDDD;
}

.slider-container {
    height: 500px;
    width: 500px;
}

.agwera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    color: #212121;
    margin-left: 15px;
}

#gamarjoba {
    font-size: 30px;
    letter-spacing: 1.4px;
}

#identoba {
    font-size: 35px;
    letter-spacing: 1.4px;
}

#samsaxuri {
    font-size: 23px;
    opacity: 1;
    letter-spacing: 0px;
}

.links {
    display: flex;
    gap: 10px;
    font-size: 25px;
}

.f-bar {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    margin-left: 100px;

}

#xazi {
    border-top: 5px solid red;
    border-radius: 10px;
    width: 130%;
    display: flex;

}

.meore {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    gap: 150px;
}

.saxeli {
    text-align: right;
}

.zeda {
    text-align: right;
}

#lorem {
    margin-top: 33px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: red;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.sami {
    border: 1px solid #F9F9F9;
    width: 40px;
    height: 40px;
    background-color: #F9F9F9;
    margin-top: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in;
}

.sami:hover {
    background-color: #15263E;
}

.support {
    margin-top: 80px;
    background-color: #131A36;
    height: 260px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.wre {
    border: 2px dotted white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
}


.support .phone,
.support .loc,
.support .email {
    display: flex;
    align-items: center;
}

.support i {
    font-size: 24px;
}

.support .wre::after {
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s;
}

.icon {
    z-index: 1;
}

.support .wre:hover,
.support .wre:focus {
    background-color: transparent;
}

.support .wre:hover::after,
.support .wre:focus::after {
    transform: scale(1);
}

.bar-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.fillable {
    width: 250px;
    height: 10px;
    margin-top: 20px;
    /* background-color: red; */
}

.hidden-image {
    display: none;
}

.knopka {
    display: none;
}

.meotxe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.row {
    display: flex;
    justify-content: center;
}

.box {
    width: 270px;
    height: 360px;
    margin: 10px;
    background-color: #FAFAFA;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box img {
    max-width: 20%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.box:hover {
    transform: scale(1.1);
}

.box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15263E;
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.second>p {
    margin-top: 10px;
}

.box:hover .second {
    opacity: 1;
    pointer-events: auto;
}

.rec {
    margin-top: 100px;
    height: 400px;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    gap: 30px;
}

.mexute {
    background-image: url(./img/back.avif);
    background-size: cover;
    background-repeat: no-repeat;
}


h2 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 50px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: #15263E;
    color: white;
    width: 240px;
    height: 300px;
}

ul {
    list-style: none;
    font-family: "GlacialIndifference-Bold";
}

li {
    margin-top: 10px;
}

.project-images {
    border: 1px solid white;
    width: 900px;
    height: 700px;
}

.saboloo {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.row-2 {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.ori {
    /*  border: 1px solid; */
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ori img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artiklebi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.first {
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: auto 1fr auto;
}


.p-nawili {
    margin-top: 50px;
    margin-left: 115px;
}

.shua {
    width: 123px;
    height: 500px;
    margin-left: 200px;
    background-color: #15263E;
}

.shua>p {
    margin-top: 230px;
    transform: rotate(270deg);
    font-size: 30px;
    color: red;
}

.centri {
    background-color: #15263E;
}

.centri>p {
    color: red;
    transform: rotate(90deg);
    font-size: 30px;
    margin-top: 230px;
}

.grd {
    border: 1px solid gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.fotka {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.chasatevi {
    background-color: black;
}

.fotka>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#meti {
    position: relative;
    top: 15px;
}

.centri {
    width: 123px;
    height: 500px;
}

.partners {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
}

.logos {
    display: flex;
}

.logos img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    text-align: center;
    border: 1px solid red;
    width: 230px;
    height: 190px;
}

.logos:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.logos:hover {
    transform: scale(1.1);
}

@media(max-width: 400px) {
    .navi {
        display: none;
        font-size: 24px;
    }

    .pirveli,
    .meore,
    .mesame,
    .meotxe,
    .mexute {
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;
        justify-content: center;
    }

    .meotxe {
        margin-top: 10px;
        font-size: 10px;
    }

    .agwera,
    .saxeli {
        text-align: center;
        margin-left: 0;
    }

    .zeda {
        text-align: center;
    }

    .me {
        display: flex;
        justify-content: center;
    }

    .stack {
        margin: 20px 0;
    }

    .f-bar {
        margin: 20px 0;
        margin-left: 0;
    }

    .me img {
        max-width: 60%;
    }

    .bar-container {
        margin-top: 20px;
    }

    .support {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        gap: 30px;
    }

    .phone {
        margin-left: -60px;
    }

    .box {
        width: 90%;
    }

    .bar {
        margin-bottom: 5px;
    }

    .links {
        font-size: 20px;
    }

    .wre {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .icon {
        font-size: 18px;
    }

    .slider-container2,
    .slide-rec2,
    .rec3 {
        padding: 10px;
    }

    .dots {
        display: none;
    }

    .meeqvse h1 {
        font-size: 24px;
    }

    .sami {
        margin-top: 10px;
    }
}